footer.footer#contact
  .footer__background
    .footer__contact
      .footer__column
        .footer__title Contact Us
        .footer__item
          img.footer__icon(src='components/img/location.png' alt="Smiley face")
          a.footer__text
            |Main St.
            br
            | Toronto, ON
            br
            | M1H 3A5
        .footer__item
          img.footer__icon(src='components/img/phone.png' alt="phone")
          a.footer__text(href='#home') 522-5466
        .footer__item
          img.footer__icon(src='components/img/email.png' alt="email")
          a.footer__text(href='#home') hello@treehouse.com
      .footer__column
        .footer__title Latest posts
        .footer__item
          img.footer__icon(src='components/img/news.png' alt="news")
          a.footer__text(href='#home') Made With Love In Toronto
        .footer__item
          img.footer__icon(src='components/img/photo.png' alt="news")
          a.footer__text(href='#home') Startup New & Engerging Tech
        .footer__item
          img.footer__icon(src='components/img/news.png' alt="news")
          a.footer__text(href='#home') Bitcoin Will Sonn Rule The World
        .footer__item
          img.footer__icon(src='components/img/news.png' alt="news")
          a.footer__text(href='#home') Wearable Technology On The Rise
        .footer__item
          img.footer__icon(src='components/img/media.png' alt="news")
          a.footer__text(href='#home') Learn Web Design In 30 Days!
      .footer__column
        .footer__title latest tweets
        .footer__item
          img.footer__icon(src='components/img/twitter.png' alt="gear")
          a.footer__text(href='#home')  Confucius: Life is really simple, but we insist on making it complicated. #famousquotes 8 mins ago

        .footer__item
          img.footer__icon(src='components/img/twitter.png' alt="gear")
          a.footer__text(href='#home')  Confucius: Life is really simple, but we insist on making it complicated. #famousquotes 8 mins ago

  .footer__media
    a.footer__link(href='#home') © Copyright 2014 FreebiesXpress.com
    .footer__mediaIcons
      a.footer__boxIcon(href='#home')
        img.footer__mediaIcon(src='components/img/google.png' alt="gear")
        img.footer__iconHover(src='components/img/googleHover.png' alt="gear")
      a.footer__boxIcon(href='#home')
        img.footer__mediaIcon(src='components/img/google.png' alt="gear")
        img.footer__iconHover(src='components/img/googleHover.png' alt="gear")
      a.footer__boxIcon(href='#home')
        img.footer__mediaIcon(src='components/img/facebook.png' alt="gear")
        img.footer__iconHover(src='components/img/facebookHover.png' alt="gear")
      a.footer__boxIcon(href='#home')
        img.footer__mediaIcon(src='components/img/google.png' alt="gear")
        img.footer__iconHover(src='components/img/googleHover.png' alt="gear")

