doctype html
html( lang="pl")

  include _head.pug
    script(src='scripts/fix.js')

  block initScripts


  body

    block content

    include ../components/footer/_footer.pug

    //- plik skryptów do którego pakujemy wszystkie js, łącznie z używanymi paczkami NPM
    //- podpinanie linkujemy na koniec zmiennej vendorScripts w Gruntfile.js
    //- łopatologicznie ale na szybko nie zrobiłem automatycznego ładowania ;(
    script(src='scripts/gallery.es6')
    script(src='https://code.jquery.com/jquery-2.2.0.min.js', type='text/javascript')


    script(src='scripts/roll.js')

    script(type='text/javascript', src='scripts/jquery.hoverdir.js')
    script(type='text/javascript', src='scripts/hovedir.js')
    script(src='scripts/modernizr.custom.97074.js')
    script(src='scripts/smooth.js')
    script(src='scripts/headroom.min.js')
    script(src='scripts/headroom_custom.js')





