extends _layout.pug

block content

  #home.header.scroll-content
    .header__box
      .header__menu.headroom
        .header__logo
          img.header__img(src='components/img/logo.png')
        .menuToogle
          input.menu__input(type='checkbox')
          span.menu__hamburgerSpan
          span.menu__hamburgerSpan
          span.menu__hamburgerSpan
          ul.menu
            li.menu__item.active
              a.menu__link.scroll(href='#home') HOME
            li.menu__item
              a.menu__link.scroll(href='#about') ABOUT
            li.menu__item
              a.menu__link.scroll(href='#services') SERVICES
            li.menu__item
              a.menu__link.scroll(href='#gallery') GALLERY
            li.menu__item
              a.menu__link.scroll(href='#blog') BLOG
            li.menu__item
              a.menu__link.scroll(href='#contact') CONTACT
      .header__boxtext
        .header__title Fresh Life
        .header__text Sed do eiusmod tempor incididunt ut labore et dolore magna aliq Sed do_eiusmod_tempor_incididunt_ut_labore_et_d
        button.header__button(type='button',onclick="alert('Hello world!')") ONLINE SHOPPING
  #about.aboutUs.scroll-content
    .aboutUs__box
      .aboutUs__columnone
        img.aboutUs__img(src='components/img/raspberries.png')
      .aboutUs__columntwo
        .aboutUs__title
          | About Us
        .aboutUs__text
          | Abore Cahee magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
          | Nim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
  #services.ourService.scroll-content
    .ourService__box
      .ourService__columnOne
        .ourService__buttonBox
          button.ourService__OnlineShopping(type='button',onclick="alert('Hello world!')") ONLINE SHOPPING
          button.ourService__qualityProduct(type='button',onclick="alert('QUALITY PRODUCT')") QUALITY PRODUCT
          button.ourService__domestic(type='button',onclick="alert('QUALITY PRODUCT')") DOMESTIC & INTERNATIONAL DELIVERY
          button.ourService__wellOrganized(type='button',onclick="alert('QUALITY PRODUCT')") WELL ORGANIZED
      .ourService__columnTwo
        img.ourService__img(src='components/img/tomato.png')
  #gallery.gallery.scroll-content
    .gallery__box
      .gallery__title Gallery
      .gallery__text Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      .gallery__items
        a.gallery__image1(src='components/img/mag.png', data-gallery-src='components/img/item1.png', data-gallery-desc='First Product', alt='First Product')
          span.gallery__rolls1
          img.gallery__item1(src='components/img/item1.png')
        .gallery__itemGroup
          a.gallery__image2(src='components/img/item2.png', data-gallery-src='components/img/item2.png', data-gallery-desc='Second Product', alt='Second Product')
            span.gallery__rolls2
            img.gallery__item2(src='components/img/item2.png')
          a.gallery__image3(src='components/img/item3.png', data-gallery-src='components/img/item3.png', data-gallery-desc='First Product', alt='First Product')
            span.gallery__rolls3
            img.gallery__item3(src='components/img/item3.png')
        a.gallery__image4(src='components/img/item4.png', data-gallery-src='components/img/item4.png', data-gallery-desc='First Product', alt='First Product')
          span.gallery__rolls4
          img.gallery__item4(src='components/img/item4.png')
        a.gallery__image5(src='components/img/item5.png', data-gallery-src='components/img/item5.png', data-gallery-desc='Image 1', alt='Image 1')
          span.gallery__rolls5
          img.gallery__item5(src='components/img/item5.png')
      button.gallery__button View more
  .subscribe
    .subscribe__box
      .subscribe__title Subscribe To Us
      .subscribe__text Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .subscribe__element
        input.subscribe__email(name='email', type='email', placeholder='Your e-mail adress',autocomplete="nope")
        button.subscribe__button(type='button') Subscribe
  #blog.blog
    .blog__box
      .blog__title Blog
      .blog__text Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.

      ul#da-thumbs.hovedir.blog__items
        li.hovedir__li
          a.hovedir__a(href='http://dribbble.com/shots/504197-Mr-Crabs')
            img.hovedir__img(src='components/img/blog_item2.png')
            div.hovedir__textBox
              h1.hovedir__text1 20
                span.hovedir__span NOV
              h1.hovedir__text2 Pesticides & Food: What You Need to Know
                span.hovedir__span2 By Auskteez - 2 hours
        li.hovedir__li
          a.hovedir__a(href='http://dribbble.com/shots/504197-Mr-Crabs')
            img.hovedir__img(src='components/img/blog_item3.png')
            div.hovedir__textBox
              h1.hovedir__text1 14
                span.hovedir__span NOV
              h1.hovedir__text2 Growing Food and a “Thirst” for Innovation
                span.hovedir__span2 By Auskteez - 3 hours
        li.hovedir__li
          a.hovedir__a(href='http://dribbble.com/shots/504197-Mr-Crabs')
            img.hovedir__img(src='components/img/blog_item2.png')
            div.hovedir__textBox
              h1.hovedir__text1 10
                span.hovedir__span NOV
              h1.hovedir__text2 Pesticides & Food: What You Need to Know
                span.hovedir__span2 By Auskteez - 6 hours
      button.blog__button VIEW MORE
  #contact.contact
    .contact__box
      .contact__title Contact
      .contact__text For new projects, ideas, business or anything you'd like to discuss, contact with me!

      .contact__items
        form.contact__form
          input.contact__name(name='Username', type='username', placeholder='Auskteez Tran',autocomplete="off")
          input.contact__email(name='email', type='email', placeholder='Your email',autocomplete="off")
          input.contact__phone(name='password', type='password', placeholder='Your phone number...',autocomplete="off")
          textarea(placeholder='Type your message').contact__textarea
        .contact__data
          .contact__itemtext
            .contact__bold ADDRESS
            .contact__span 123 City name, Street, City, Country
          .contact__itemtext
            .contact__bold EMAIL
            .contact__span cahee@domain.com
          .contact__itemtext
            .contact__bold PHONE
            .contact__span 123456789


