@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESOLUTIONS
 *============================================================================ */
/* DEVICES REGION
 *========================================================================== */
/* Mobile 0px -> 480px -> 600px -> 767px
 *-------------------------------------------------------------------------- */
/* Tablet 768px -> 800px -> 969px
 *-------------------------------------------------------------------------- */
/* LAPTOP 970px -> 1199px
 *-------------------------------------------------------------------------- */
/* PC 1200px ->
 *-------------------------------------------------------------------------- */
body {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.header {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.72)), color-stop(0.3, #fff));
}

.header__box {
  max-width: 940px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 25px 0;
}

@media (max-width: 1200px) {
  .header__box {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

@media (max-width: 480px) {
  .header__box {
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding-right: 20px;
  }
}

.menu {
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0 0 0;
}

@media (max-width: 1200px) {
  .menu {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 200px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    -ms-flex-direction: column;
        flex-direction: column;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

@media (max-width: 1200px) and (max-width: 1200px) {
  .menu {
    margin: -100px 0 0 -90px;
  }
}

@media (max-width: 767px) {
  .menu {
    top: 130px;
    padding-top: 25px;
  }
}

@media (max-width: 1200px) {
  .menu__item {
    padding: 5px 17px;
  }
}

.menu__item:hover .menu__link {
  color: #7cc576;
  text-decoration: none;
  transition: 0.4s;
}

@media (max-width: 1200px) {
  .menu__item:hover {
    text-decoration: none;
    border-top: 0px;
    padding-top: 5px;
  }
  .menu__item:hover .menu__link {
    color: #7cc576;
    transition: 0.3s;
  }
}

.menu__link {
  padding: 5px 17px;
  font-size: 14px;
  font-family: "Montserrat";
  color: #777777;
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: none;
}

.menu__hamburgerSpan {
  display: none;
}

@media (max-width: 1200px) {
  .menu__hamburgerSpan {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -ms-transform-origin: 4px 0px;
        transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menu__hamburgerSpan:first-child {
    -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
  }
  .menu__hamburgerSpan:nth-last-child(2) {
    -ms-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
  }
}

.menu__input {
  display: none;
}

@media (max-width: 1200px) {
  .menu__input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .menu__input:checked ~ .menu__hamburgerSpan {
    opacity: 1;
    -ms-transform: rotate(45deg) translate(-2px, -1px);
        transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  .menu__input:checked ~ .menu__hamburgerSpan:nth-last-child(3) {
    opacity: 0;
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
        transform: rotate(0deg) scale(0.2, 0.2);
  }
  .menu__input:checked ~ .menu__hamburgerSpan:nth-last-child(2) {
    -ms-transform: rotate(-45deg) translate(0, -1px);
        transform: rotate(-45deg) translate(0, -1px);
  }
  .menu__input:checked ~ .menu {
    -ms-transform: none;
        transform: none;
  }
}

.active .menu__link {
  color: #7cc576;
}

@media (max-width: 1200px) {
  .active {
    text-decoration: none;
    border-top: 0px;
    padding-top: 5px;
  }
  .active a {
    color: #7cc576;
    transition: 0.3s;
  }
}

@media (max-width: 1200px) {
  .menuToogle {
    display: block;
    position: absolute;
    top: 28px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
}

.titleSection {
  padding: 84px 0 0 0;
}

.titleSection__box {
  position: relative;
}

.titleSection__slider {
  width: 100%;
  overflow: hidden;
}

.titleSection__img {
  width: 100%;
}

@media (max-width: 480px) {
  .titleSection__img {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}

.titleSection__textBox {
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 3;
  color: white;
  top: 100px;
}

@media (max-width: 969px) {
  .titleSection__textBox {
    top: 20px;
  }
}

.titleSection__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Montserrat";
  color: white;
  width: 600px;
  margin: auto;
}

@media (max-width: 1200px) {
  .titleSection__title {
    font-size: 40px;
  }
}

@media (max-width: 969px) {
  .titleSection__title {
    font-size: 36px;
    width: 550px;
  }
}

@media (max-width: 600px) {
  .titleSection__title {
    font-size: 26px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .titleSection__title {
    font-size: 18px;
  }
}

.titleSection__text {
  padding: 50px 0;
  font-size: 20px;
  font-family: "RobotoSlab";
  color: #cccccc;
}

@media (max-width: 1200px) {
  .titleSection__text {
    font-size: 16px;
    padding: 30px 0;
  }
}

@media (max-width: 969px) {
  .titleSection__text {
    padding: 10px 0;
  }
}

@media (max-width: 600px) {
  .titleSection__text {
    padding: 5px 0;
  }
}

@media (max-width: 480px) {
  .titleSection__text {
    font-size: 12px;
  }
}

.titleSection__button {
  font-size: 15px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.763;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  background-color: #7cc576;
  border-radius: 15px;
  border: none;
  padding: 0 15px;
}

.titleSection__button:hover {
  background-color: #cccccc;
  transition: 0.5s;
}

@media (max-width: 480px) {
  .titleSection__button {
    margin-top: 5px;
    padding: 0 5px;
    font-size: 12px;
  }
}

.services__box {
  max-width: 940px;
  margin: auto;
  text-align: center;
  padding-bottom: 60px;
}

.services__imgAnimated {
  overflow: hidden;
  position: relative;
}

.services__img {
  animation: 1s;
  position: relative;
  transition: img 0.5s ease 0s;
  top: 0px;
  transition: 1s;
}

.services__imgRun {
  left: 118px;
  position: absolute;
  margin: auto;
  top: -50px;
  transition: 2s;
  animation-timing-function: ease-in-out;
}

@media (max-width: 600px) {
  .services__imgRun {
    display: none;
  }
}

.services__imgRun-position {
  top: -52px;
  left: 125px;
}

.services__item {
  overflow: hidden;
  width: 290px;
}

@media (max-width: 1200px) {
  .services__item {
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .services__item {
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .services__item {
    width: 500px;
  }
}

.services__item:hover .services__img {
  top: -50px;
}

@media (max-width: 600px) {
  .services__item:hover .services__img {
    top: 0px;
  }
}

.services__item:hover .services__imgRun {
  top: 0px;
}

.services__item:hover .services__itemTitle {
  animation: 1s;
}

.services__item:hover .services__itemText {
  animation: 1s;
}

.services__itemBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .services__itemBox {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.services__title {
  font-size: 40px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
  padding-top: 80px;
}

@media (max-width: 600px) {
  .services__title {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  .services__title {
    font-size: 18px;
    padding-top: 20px;
  }
}

.services__text {
  padding: 0 5px  40px 5px;
  font-size: 20px;
  font-family: "Myriad Pro";
  color: #777777;
}

@media (max-width: 600px) {
  .services__text {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .services__text {
    font-size: 12px;
  }
}

.services__itemTitle {
  padding: 20px 0;
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .services__itemTitle {
    font-size: 16px;
  }
}

.services__itemText {
  font-size: 14px;
  font-family: "RobotoSlab";
  color: #777777;
}

@media (max-width: 600px) {
  .services__itemText {
    font-size: 12px;
  }
}

.relax {
  position: relative;
  background: #e9e9e9;
  min-height: 616px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  overflow: hidden;
}

@media (max-width: 767px) {
  .relax {
    text-align: center;
  }
}

.relax__background {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 7;
  height: 616px;
}

.relax__backgroundsImg {
  left: 0px;
  position: absolute;
}

.relax__box {
  z-index: 3;
  width: 970px;
  box-sizing: border-box;
  padding: 80px 0 0 90px;
}

@media (max-width: 767px) {
  .relax__box {
    padding: 80px 10px 0 10px;
  }
}

.relax__boxText {
  max-width: 650px;
}

@media (max-width: 767px) {
  .relax__boxText {
    max-width: 100%;
  }
}

.relax__gear {
  top: 90px;
  width: 940px;
  margin: auto;
  right: 227px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 1200px) {
  .relax__gear {
    display: none;
  }
}

.relax__gearImg {
  transition: transform 2s;
}

.relax__gearImg:hover {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.relax__background {
  display: inline-block;
  z-index: 2;
  right: 0px;
  position: absolute;
}

.relax__button {
  margin: 50px 0;
  font-size: 15px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2.763;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  -webkit-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1.0783244549, 0, 0);
  background-color: #7cc576;
  border-radius: 15px;
  border: none;
  padding: 0 15px;
}

.relax__button:hover {
  background-color: #cccccc;
  transition: 0.5s;
}

@media (max-width: 600px) {
  .relax__button {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .relax__items {
    margin: auto;
    width: 243px;
  }
}

.relax__item {
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.relax__itemText {
  padding: 3px 0px 0px 10px;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #cccccc;
}

@media (max-width: 600px) {
  .relax__itemText {
    font-size: 12px;
  }
}

.relax__title {
  font-size: 40px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .relax__title {
    font-size: 24px;
  }
}

.relax__text {
  padding: 10px 0 0 0;
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #cccccc;
}

@media (max-width: 600px) {
  .relax__text {
    font-size: 12px;
  }
}

.relax__titleSpan {
  color: #7cc576;
  display: inline-block;
}

.project__box {
  max-width: 940px;
  padding: 0 15px;
  margin: auto;
  overflow: hidden;
}

.project__title {
  padding: 30px 0;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 600px) {
  .project__title {
    font-size: 26px;
    padding: 10px 0;
  }
}

.project__text {
  text-align: center;
  font-size: 20px;
  font-family: "Myriad Pro";
  color: #777777;
}

@media (max-width: 600px) {
  .project__text {
    padding: 0 0 10px 0;
    font-size: 16px;
  }
}

.project__infoTitle {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
  padding: 15px 0px;
}

@media (max-width: 600px) {
  .project__infoTitle {
    text-align: center;
    font-size: 18px;
  }
}

.project__infoText {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #777777;
}

@media (max-width: 600px) {
  .project__infoText {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .project__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.project__item {
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.project__itemImg {
  width: 50px;
  height: 50px;
}

.project__itemText {
  padding: 0px 0 25px 15px;
  font-size: 18px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
}

@media (max-width: 600px) {
  .project__itemText {
    padding: 5px 0 0 15px;
  }
}

@media (max-width: 600px) {
  .project__itemText {
    font-size: 14px;
  }
}

.project__itemSpan {
  font-size: 16px;
  font-family: "RobotoSlab";
  color: #777777;
}

@media (max-width: 600px) {
  .project__itemSpan {
    font-size: 12px;
  }
}

.project__href {
  display: inline-block;
  background: url(../components/img/arrowRight.png) no-repeat 120px center;
  padding: 0 50px 0 0;
  margin: 15px 0;
  transition: 0.4s;
  font-size: 16px;
  font-family: "Montserrat";
  color: #7cc576;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .project__href {
    width: 100%;
    text-align: center;
    background: none;
  }
}

.project__href:hover {
  margin: 15px 0;
  text-decoration: none;
  background: url(../components/img/arrowRight.png) no-repeat 135px center;
  display: inline-block;
}

@media (max-width: 600px) {
  .project__href:hover {
    width: 100%;
    text-align: center;
    background: none;
    color: black;
    transition: 0.5s;
  }
}

.values {
  background-color: #f9f9f9;
}

.values__box {
  padding: 80px 0;
  max-width: 940px;
  margin: auto;
  position: relative;
}

.values__title {
  font-size: 40px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
  text-align: center;
}

.values__text {
  text-align: center;
  font-size: 20px;
  font-family: "Myriad Pro";
  color: #777777;
}

.values__itemTitle {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #222222;
  text-transform: uppercase;
}

.values__itemText {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: #777777;
}

.values__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: center;
  position: relative;
}

@media (max-width: 969px) {
  .values__items {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.values__line1 {
  top: 40px;
  position: absolute;
  right: 227px;
}

@media (max-width: 969px) {
  .values__line1 {
    display: none;
  }
}

.values__line2 {
  top: 40px;
  left: 227px;
  position: absolute;
}

@media (max-width: 969px) {
  .values__line2 {
    display: none;
  }
}

.client__box {
  max-width: 940px;
  margin: auto;
  overflow: hidden;
}

.client__textBox {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: #777777;
}

.client__title {
  padding: 20px 0;
  font-size: 40px;
  font-family: "Montserrat";
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.client__text {
  font-size: 20px;
  font-family: "RobotoSlab";
  color: #777777;
  text-align: center;
}

.client__circle {
  height: 220px;
  width: 220px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: inline-block;
}

.client__circle-leftDirection {
  -ms-flex-order: 1;
      order: 1;
}

@media (max-width: 969px) {
  .client__circle-leftDirection {
    -ms-flex-order: 0;
        order: 0;
    top: -24px;
    left: 302px;
  }
}

.client__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 40px;
}

@media (max-width: 969px) {
  .client__item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.client__background {
  position: relative;
  height: 180px;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #f9f9f9;
  margin: 25px 0 0px 35px;
  max-width: 685px;
}

@media (max-width: 969px) {
  .client__background {
    margin: 25px 0;
  }
}

.client__background-leftDirection {
  margin: 25px 35px 0 0px;
}

@media (max-width: 969px) {
  .client__background-leftDirection {
    margin: 25px 0;
  }
}

.client__triangle {
  position: absolute;
  top: 78px;
  left: -20px;
}

@media (max-width: 969px) {
  .client__triangle {
    display: none;
  }
}

.client__triangle-rightDirection {
  right: -20px;
  left: auto;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

@media (max-width: 969px) {
  .client__triangle-rightDirection {
    display: none;
  }
}

.client__span {
  font-size: 12px;
  font-family: "Myriad Pro";
  color: #7cc576;
}

.ready {
  background-color: #7cc576;
}

.ready__box {
  max-width: 940px;
  margin: auto;
  padding: 30px 0 50px 0;
}

.ready__title {
  margin: 30px 0 40px 0;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 969px) {
  .ready__title {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .ready__title {
    font-size: 18px;
  }
}

.ready__button {
  cursor: hand;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 4px;
  background-color: #7cc576;
  transition: 0.5s;
}

.ready__button:hover {
  color: #7cc576;
  background-color: white;
}

.ready__items {
  padding: 50px 0;
  background-color: white;
}

.ready__container {
  max-width: 940px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

@media (max-width: 767px) {
  .ready__container {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .ready__itemImg {
    padding: 20px 0;
  }
}

.footer__background {
  background-color: #222222;
}

.footer__contact {
  max-width: 940px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

@media (max-width: 767px) {
  .footer__contact {
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center;
  }
}

.footer__column {
  width: 300px;
}

@media (max-width: 767px) {
  .footer__column {
    -ms-flex-item-align: center;
        align-self: center;
    max-width: 100%;
    margin: auto;
  }
}

.footer__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: end;
}

.footer__item:hover .footer__text {
  color: #7cc576;
  cursor: default;
  transition: 0.4s;
}

.footer__title {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
}

.footer__text {
  font-size: 16px;
  font-family: "Myriad Pro";
  color: #ececec;
}

@media (max-width: 767px) {
  .footer__text br {
    display: none;
  }
}

.footer__item {
  padding: 15px 0px;
}

.footer__text {
  padding: 0 0 0 10px;
}

.footer__text:hover {
  text-decoration: none;
}

.footer__media {
  max-width: 940px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

@media (max-width: 600px) {
  .footer__media {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.footer__mediaIcons {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.footer__mediaIcon {
  padding-left: 10px;
  position: relative;
}

.footer__link {
  padding: 10px 100px 0 0;
}

.footer__link:hover {
  text-decoration: none;
  color: #7cc576;
  transition: 1s;
}

@media (max-width: 600px) {
  .footer__link {
    padding: 10px 0;
  }
}

.footer__iconHover {
  position: absolute;
  top: 0px;
  left: 10px;
  opacity: 0;
}

.footer__boxIcon {
  position: relative;
}

.footer__boxIcon:hover .footer__iconHover {
  opacity: 1;
  transition: 0.3s;
}

.footer__boxIcon:hover {
  transition: 0.3s;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover, .slick-prev:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before {
  opacity: 1;
}

.slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: '←';
}

[dir='rtl'] .slick-prev:before {
  content: '→';
}

.slick-next {
  right: -25px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: '→';
}

[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.6.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  -ms-transform-origin: center bottom;
      transform-origin: center bottom;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  animation-name: rubberBand;
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -ms-transform-origin: top center;
      transform-origin: top center;
  animation-name: swing;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.wobble {
  animation-name: wobble;
}

@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.39063deg) skewY(0.39063deg);
  }
  88.8% {
    transform: skewX(-0.19531deg) skewY(-0.19531deg);
  }
}

.jello {
  animation-name: jello;
  -ms-transform-origin: center;
      transform-origin: center;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  animation-name: bounceInLeft;
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation-name: bounceInUp;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut;
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  animation-name: bounceOutRight;
}

@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  animation-name: bounceOutUp;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

@keyframes fadeOutDownBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutRightBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in;
  }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in;
  }
}

.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-duration: 0.75s;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flipOutY {
  animation-duration: 0.75s;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

@keyframes lightSpeedOut {
  from {
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateIn {
  animation-name: rotateIn;
}

@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInDownRight {
  animation-name: rotateInDownRight;
}

@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to {
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to {
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.rotateInUpRight {
  animation-name: rotateInUpRight;
}

@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1;
  }
  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

.rotateOut {
  animation-name: rotateOut;
}

@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1;
  }
  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1;
  }
  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

@keyframes hinge {
  0% {
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  20%,
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  }
  40%,
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

.hinge {
  animation-duration: 2s;
  animation-name: hinge;
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.jackInTheBox {
  animation-name: jackInTheBox;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@keyframes rollOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

.rollOut {
  animation-name: rollOut;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInLeft {
  animation-name: zoomInLeft;
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInRight {
  animation-name: zoomInRight;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInUp {
  animation-name: zoomInUp;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutDown {
  animation-name: zoomOutDown;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

.zoomOutLeft {
  animation-name: zoomOutLeft;
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

.zoomOutRight {
  animation-name: zoomOutRight;
}

@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomOutUp {
  animation-name: zoomOutUp;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

.headroom--top {
  -ms-transform: translateY(0) !important;
      transform: translateY(0) !important;
  transition: 1s;
}

.headroom--pinned {
  -ms-transform: translateY(0);
      transform: translateY(0);
}

@media (max-width: 1200px) {
  .headroom--pinned {
    -ms-transform: translateY(-77%);
        transform: translateY(-77%);
  }
}

.headroom {
  transition: transform .25s ease-in-out;
  will-change: transform;
}

.headroom--unpinned {
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
}

@media (max-width: 1200px) {
  .headroom--unpinned {
    -ms-transform: translateY(-77%);
        transform: translateY(-77%);
  }
}

@media (max-width: 1200px) {
  .headroom--not-top .menuToogle {
    top: 90px;
    transition: 1s;
  }
  .headroom--not-top.header {
    background: rgba(255, 255, 255, 0);
  }
}
